@font-face {

  font-family: "ObjectSans-Regular";
  src: url("/fonts/ObjectSans-Regular/ObjectSans-Regular.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;

}
@font-face {

  font-family: "ObjectSans-Bold";
  src: url("/fonts/ObjectSans-Bold/ObjectSans-Bold.otf");
  font-style: bold;
  font-weight: 800;
  font-display: swap;

}
html,
body {

  padding: 0;
  margin-left: 50px;
  margin-right: 50px;

}
a {

  color: inherit;
  text-decoration: none;
  
}
* {

  box-sizing: border-box;
  font-size: 62.5%;
  background-color:black;
  /* cursor: url(/public//images.png); */

}
/* h1{
  font-family: "ObjectSans-Regular";
  font-size: 10rem;
} */
.header-content{

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 1rem;
  

  font-weight: 400;

  color: #EBF5DF;

}
.header-content, .menu, .logo {

  font-family: "ObjectSans-Regular";
  
  font-size: 3rem;

}
.menu{

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 20px;

  cursor: pointer;

}
.logo{

  font-weight: 800;
  font-size: 2rem;

}
.menu h2:hover{

  text-decoration: underline 3px;
  line-height: 10px;

}
button{
  font-family: "ObjectSans-Regular";
  font-weight: 800;

  cursor: pointer;

  color: #EBF5DF;
  
  width: 120px;

  padding: 10px;

  border: #EBF5DF solid 4px;
  border-radius: 50px;

}
button:hover{

  border: none;
  background-color: #EBF5DF;
  color: black;
  
}
.ingress{
  font-family: "ObjectSans-Regular";
  color: #EBF5DF;

  display: block;

  align-items: center;
  justify-content: center;

  margin-top:180px;
  
}
.overskrift{

  font-size: 13rem;
}
.ingress h2{

  font-size:3rem;
  font-weight: 400;

}
.about-me{

 color: #EBF5DF;
 font-family: "ObjectSans-Regular";
 font-size: 10rem;

 line-height: 69px;

 
 margin-top: 500px;
 margin-bottom: 100px;

 width:80vw;
 
}

.mailbtn{

  font-size: 3rem;
  
  cursor: pointer;

  color: #EBF5DF;
  background-color: none;
  
  width: 200px;

}
